.bdg{
	width: 100%;
	background-color: white;
}
.bd_nav{
	position: relative;
	height: 60px;
	line-height: 60px;	
}
.bd_nav div{
  position: absolute;
  font-size: 14px;
}
.bd_nav div a{
	font-size: 15px;
	color: red;
}
.container{
	margin-top: 20px;
	margin-bottom: 100px;
}
.sidebar{
	float: left;
	width: 220px;
	background-color: #fff;
	padding: 5px 10px;
}
h2{
	font-size: 18px;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	margin-bottom: 20px	;
	padding: 0 10px;
}
h4{
	display: block;
	padding-top: 10px;
	font-size: 18px;
}
select{
	width: 190px;
	height: 28px;
}
#main{
	float: right;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	width: 900px;
}
#main div img{
	width: 270px;
}
#main div{
	float: left;
	width: 270px;
	height: 310px;
	text-align: center;
	background-color: white;
}
#main div:nth-child(n+4){
	margin-top: 20px;
}
#main span{
	color: red;
	font-size: 24px;
}
.nav_top{
	margin-top: 0;
}