*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 12px;
}
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
/*  */
.logo img{
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}
p{
	text-align: center;
	margin: 15px auto;
	font-size: 24px;
}
.ts{
	margin-bottom: 15px;
	padding: 10px 10px;
	line-height: 18px;
	height: 70px;
	background-color: #FFFEDA;
}
label{
	font-size: 14px;
}
label span{
	color: darkgray;
	font-size: 15px;
}
.area{
	margin: 0 auto;
	width: 300px;
}

input[type='text'],input[type='password']{
	display: block;
	margin: 10px auto;
	width: 300px;
	height: 40px;
	border: 1px solid lightgrey;
	padding-left: 10px;
	font-size: 16px;
}
.agree{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid darkgray;
}
button{
	font-size: 14px;
	width: 300px;
	height: 35px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.dl{
	margin-top: 14px;
	background-color: aqua;
	border: transparent;
}
.zc{
	margin-top: -10px;
	background-color: white;
	border:1px solid lightgrey
}
a{
	float: right;
	margin-top: 30px;
	color: darkgray;
}
